rtlc -partition_module_xrtl ahb_if
rtlc -partition_module_xrtl apb_if
rtlc -partition_module_xrtl hdl_top

comp -platform D1S
comp -hvl questa
comp -top hdl_top
comp -num_boards 1
comp -sv
comp -assertcomp
veanalyze -assert_analyze_options "-sva"
comp -assert_compile_options "-tcs -sva"
rtlc -compile_display